{% extends 'Main/base.html' %}
{% load static %}

{% block body %}
<body>
        <!-- About section Start -->
        <div class="about-area pt-100px">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="about-wrapper text-center">
                            <div class="about-contant">
                                <h2 class="title">
                                    <span>Умная мода </span>
                                    С умными девайсами
                                </h2>
                                <p>Мы с вами уже много лет и зарекомендовали себя как надежный онлайн-магазин. Мы поддерживаем высокий уровень интернет-торговли, что подтверждают присужденные нам премии. В нашем каталоге представлено большое количество наименований товаров. Количество наших клиентов продолжает расти, и мы делаем все, чтобы оправдать ваше доверие. Спасибо, что выбрали нас!</p>
                            </div>
                            <div class="promo-video">
                                <img src="{% static 'Main/images/about.jpg' %}" alt="" width="1250" height="500">
                                <a href="https://www.youtube.com/watch?v=ssIYL7HMQ9I" class="venobox overlay-box" data-vbtype="video"><span
                                    class="fa fa-play"><i class="ripple"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About section End -->
        <!-- Team Area Start -->
        <div class="team-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <h2 class="title line-height-1">Команда разработчиков</h2>
                            <p>Над разработкой данного сайта трудились лучшие из лучших</p>
                        </div>
                    </div>
                </div>
                <div class="row mb-n-30px">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-lm-30px mb-lg-30px mb-md-30px">
                        <!-- Single Team -->
                        <div class="team-wrapper ">
                            <div class="team-image overflow-hidden">
                                <img src="{% static 'Main/images/1.jpg' %}" alt="" width="372" height="423">
                                <ul class="team-social d-flex">
                                    <li>
                                        <a class="m-0" title="GitHub" target="_blank" rel="noopener noreferrer" href="https://github.com/igor-zaitsau"><i class="fa fa-github"
                                            aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a title="Telegram" target="_blank" rel="noopener noreferrer" href="https://t.me/igor_zaitsev0"><i class="fa fa-telegram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="VK" target="_blank" rel="noopener noreferrer" href="https://vk.com/igor.zaitsau"><i class="fa fa-vk" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Instagram" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/igor_huilo/"><i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="team-inner">
                                <div class="team-content">
                                    <h6 class="title">Зайцев Игорь</h6>
                                    <span class="sub-title">Главный разработчик</span>
                                </div>
                            </div>
                        </div>
                        <!-- Single Team -->
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-lm-30px mb-lg-30px mb-md-30px">
                        <!-- Single Team -->
                        <div class="team-wrapper">
                            <div class="team-image overflow-hidden">
                               <img src="{% static 'Main/images/2.jpg' %}" alt="" width="372" height="423">
                                <ul class="team-social d-flex">
                                    <li>
                                        <a class="m-0" title="GitHub" target="_blank" rel="noopener noreferrer" href="https://github.com/igor-zaitsau"><i class="fa fa-github"
                                            aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a title="Telegram" target="_blank" rel="noopener noreferrer" href="https://t.me/igor_zaitsev0"><i class="fa fa-telegram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="VK" target="_blank" rel="noopener noreferrer" href="https://vk.com/igor.zaitsau"><i class="fa fa-vk" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Instagram" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/igor_huilo/"><i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="team-inner">
                                <div class="team-content">
                                    <h6 class="title">Зайцев Игорь</h6>
                                    <span class="sub-title">Главный дизайнер</span>
                                </div>
                            </div>
                        </div>
                        <!-- Single Team -->
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-6 col-md-6 mb-lm-30px ">
                        <!-- Single Team -->
                        <div class="team-wrapper">
                            <div class="team-image overflow-hidden">
                                <img src="{% static 'Main/images/3.jpg' %}" alt="" width="372" height="423">
                                <ul class="team-social d-flex">
                                    <li>
                                        <a class="m-0" title="GitHub" target="_blank" rel="noopener noreferrer" href="https://github.com/igor-zaitsau"><i class="fa fa-github"
                                            aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a title="Telegram" target="_blank" rel="noopener noreferrer" href="https://t.me/igor_zaitsev0"><i class="fa fa-telegram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="VK" target="_blank" rel="noopener noreferrer" href="https://vk.com/igor.zaitsau"><i class="fa fa-vk" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Instagram" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/igor_huilo/"><i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="team-inner">
                                <div class="team-content">
                                    <h6 class="title">Зайцев Игорь</h6>
                                    <span class="sub-title">Главный тестировщик</span>
                                </div>
                            </div>
                        </div>
                        <!-- Single Team -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Team Area End -->
        <!-- Feature Area Srart -->
        <div class="feature-area pt-100px pb-100px">
            <div class="container">
                <div class="feature-wrapper">
                    <div class="single-feture-col mb-md-30px mb-lm-30px">
                        <!-- single item -->
                        <div class="single-feature">
                            <div class="feature-icon">
                                <img src="{% static 'Main/images/icons/1.png' %}" alt="">
                            </div>
                            <div class="feature-content">
                                <h4 class="title">Бесплатная доставка</h4>
                                <span class="sub-title">При покупке от $39</span>
                            </div>
                        </div>
                    </div>
                    <!-- single item -->
                    <div class="single-feture-col mb-md-30px mb-lm-30px">
                        <div class="single-feature">
                            <div class="feature-icon">
                                <img src="{% static 'Main/images/icons/2.png' %}" alt="">
                            </div>
                            <div class="feature-content">
                                <h4 class="title">Безналичная оплата</h4>
                                <span class="sub-title">Рассрочка на 12 месяцев</span>
                            </div>
                        </div>
                    </div>
                    <!-- single item -->
                    <div class="single-feture-col">
                        <div class="single-feature">
                            <div class="feature-icon">
                                <img src="{% static 'Main/images/icons/3.png' %}" alt="">
                            </div>
                            <div class="feature-content">
                                <h4 class="title">Лёгкий  возврат</h4>
                                <span class="sub-title">Делай покупки с уверенностью</span>
                            </div>
                        </div>
                        <!-- single item -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature Area End -->
        <!-- Testimonial area start -->

        <!-- Testimonial area end-->
        <!-- Blog area start from here -->

</body>
{% endblock %}